# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
.venv/
env/
ENV/

# IDE
.idea/

# ChromaDB
chroma/

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env
